<h1><%= @game.name %></h1>

<dl class="cloud arrow">
  <dt>Start Time:</dt>
  <dd>t<%= @game.start_time %></dd>

  <dt>Players:</dt>
  <dd><%= @game.attendances.count %> / <%= @game.required_players %></dd>

  <dt>Game Type:</dt>
  <dd><%= @game.game %></dd>
</dl>

<%= image_tag "bot.svg", alt: "Robot", class: "bot" %>
