<div class="upcoming">
  <%= link_to Game.last, class: "game cloud" do %>
    <h1>
      [Upcoming] <small><%= Game.last.name %></small>
    </h1>
    <ul>
      <% if Game.last.start_time && Game.last.start_time.to_date == Date.today %>
        <li>
          <span class="icon-watch"></span>
          <%= l Game.last.start_time, format: :short_time %>
        </li>
      <% elsif Game.last.start_time %>
        <li>
          <span class="icon-watch"></span>
          <%= l Game.last.start_time, format: :short %>, <%= l Game.last.start_time, format: :short_time %>
        </li>
      <% end %>

      <li>
        <span class="icon-head"></span>
        <%= Game.last.attendances.count || 0 %>
        <%= "/ #{Game.last.required_players}" if Game.last.required_players %>
      </li>

      <% if Game.last.game %>
        <li>
          <span class="icon-trophy"></span>
          <%= Game.last.game %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<div class="stats">

  <% if Game.last %>
    <%= link_to Game.last, class: "cloud last-game" do %>
      <%= t("stats.last_game") %><br>
      <strong><%= time_ago Game.last.created_at %></strong>
    <% end %>
  <% else %>
    <div class="cloud last-game">
      <%= t("stats.last_game") %><br>
      <strong><%= t("stats.no_games_played") %></strong>
    </div>
  <% end %>

  <%= link_to games_path, class: "cloud" do %>
    <span class="large">
      <%= Game.count %>
      <%#= number_to_human(Game.count, format: "%n%u", units: { thousand: "K" }) %>
    </span>
    <div class="large-aside">
      <%= t("stats.total_games_html", count: Game.count) %>
    </div>
  <% end %>

  <div class="cloud">
    <span class="large">
      <%= Player.count %>
      <%#= number_to_human(Player.count, format: "%n%u", units: { thousand: "K" }) %>
    </span>
    <div class="large-aside">
      <%= t("stats.total_players_html", count: Player.count) %>
    </div>
  </div>

</div>
