<div class="stats">

  <%= link_to Game.last, class: "cloud" do %>
    Last game was played<br>
    <strong><%= time_ago_in_words(Game.last.created_at) %> ago</strong>
    <!-- <abbr class="timeago" title="<%= Game.last.created_at.getutc.iso8601 %>"><%= Game.last.created_at.to_s %></abbr> -->
  <% end %>

  <%= link_to games_path, class: "cloud" do %>
    <span class="large">
      <%= Game.count %>
      <%#= number_to_human(Game.count, format: "%n%u", units: { thousand: "K" }) %>
    </span>
    <div class="large-aside">
      games<br>total
    </div>
  <% end %>

  <div class="cloud">
    <span class="large">
      <%= Player.count %>
      <%#= number_to_human(Player.count, format: "%n%u", units: { thousand: "K" }) %>
    </span>
    <div class="large-aside">
      players<br>total
    </div>
  </div>

</div>
